name: Release

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:
    inputs:
      release_type:
        description: "Release type"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Configure Git
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"

      - name: Build package
        run: yarn prepare

      - name: Setup npm for Trusted Publishing
        run: npm config set //registry.npmjs.org/:_authToken ''

      - name: Release (manual)
        if: github.event_name == 'workflow_dispatch'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn release ${{ inputs.release_type }} --ci --npm.skipChecks --npm.provenance

      - name: Publish to npm (tag)
        if: github.event_name == 'push'
        run: npm publish --provenance --access public
